/* Stylesheet */


body
{
font-family:arial, verdana, helvetica;
color:white;
font-size:14px;
background-color:white;
background-image:url('game1.PNG');
}
a:link {
color: #cc0000;
}
a:visited {
color: #999999;
}
a:hover {
color: #ff3300;
}

media screen and (max-width: 1000px) {
  #container, #header, #content, #footer {
    float: none;
    width: auto;
  }
 #image, #canvas,aside #,{
    display:none;
  }
  p{ font-size: 3em; }
}